key
.vscode
.pioenvs
.piolibdeps
.vscode/c_cpp_properties.json
.vscode/launch.json
*.travis.yml
settings.json
lib/USIWire-master/*
*.pyc
temp/
.idea
*/Backup*
*/Last Loaded*
*.user.workspace
*/*/readme.txt
*/logs
*.db
