[secrets]
wifi_ssid='"SSID_your_WiFi_Network"'
wifi_password='"Password_your_WiFi_Network"'
waterius_email='"name@server.com"'
mqtt_host='"ip_address_or_DNS_name_ your_MQTT_server"'
mqtt_username='"username_mqtt_server"'
mqtt_password='"password_mqtt_server"'
blynk_key='"Blynk_token"'
waterius_key='"waterius_key"'